* , body    {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;

}

:root{
   --firstColor:#ff003c;
   --secondColor:#141517;
 }


nav{
position: sticky;
background-color: white;
box-shadow: 0px 3px 4px rgba(207, 205, 205, 0.123);
padding: 35px 0px;
}

.container{
width: 95%;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
position: relative;

}
nav .container .logo {
    width: 25%;
}
/* nav .container .logo img {
    width: 100%;
} */

a{
    text-decoration: none;
    color:var(--secondColor);
}

nav .container .navtypes {
    width: 41%;
}

ul{
    list-style: none;
  
}

nav .container .navtypes ul {
    color: var(--secondColor);
    display: flex;
    text-align: center;
    justify-content: space-between;
}

nav .container .navtypes ul li{
    position: relative;

}

nav .container .navtypes ul li:nth-child(4){
    position: relative;
}

nav .container .navtypes ul li:nth-child(4)::after{
    content: 'HOT';
    position: absolute;
    top: -24px;
    /* left: 299px; */
    padding: 5px 8px;
    background-color: var(--firstColor);
    color: white;
    font-size: 10px;
    border-radius:8px;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    -ms-border-radius:8px;
    -o-border-radius:8px;
    filter: drop-shadow(0px 2px 3px rgba(128, 128, 128, 0.658) );
    -webkit-filter: drop-shadow(0px 2px 3px rgba(128, 128, 128, 0.658) );
}

nav .container .navtypes ul li a{
/* padding: 10px 18px ; */
font-weight: 500;

}
nav .container .navtypes ul li a:hover{
    color: var(--firstColor);
    
}

nav .container .navtypes .dropdown {
      /* position: relative; */
      display: block;
      width: 166px;
      background-color: white;
      position: absolute;
      top: 55px;
      left:-25px;
      padding: 20px 12px;
      border-top: 2px solid var(--firstColor);
      border-radius:9px 9px  0px   0px ;
      -webkit-border-radius:9px 9px  0px   0px ;
      -moz-border-radius:9px 9px  0px   0px ;
      -ms-border-radius:9px 9px  0px   0px ;
      -o-border-radius:9px 9px  0px   0px ;
      filter:drop-shadow(0px 2px 4px rgba(168, 167, 167, 0.411) );
      -webkit-filter:drop-shadow(0px 2px 4px rgba(168, 167, 167, 0.411) );
      opacity: 0;
      visibility: hidden;
    }

    nav .container .navtypes  ul li:hover .dropdown{
        opacity: 100%;
        visibility:visible;
    }


nav .container .navtypes .dropdown::before{
    content: '';
    position: absolute;
    top: -18px;
    left:22px;
    border-left:8px solid transparent ;
    border-top:8px solid transparent ;
    border-right:8px solid transparent ;
    border-bottom:8px solid var(--firstColor) ;
    /*clip-path:polygon(50% 0%, 0% 100%, 100% 100%);
    */
}

nav .container .navtypes .dropdown .itemdrop  {
line-height: 25px ;

}

nav .container .icons{
    width: 25%;
    text-align: right;
}
nav .container .icons a {
    padding: 0px 14px;
    font-size: 18px;
}
nav .container .icons a:hover{
  color: var(--firstColor);
}

nav .container #menu , nav .container label {
    display: none;
    cursor: pointer;

}

/* =============================HEADER=========================== */

header{
    background-color: #f0f0f2;
    /* overflow: hidden; */
}
header .container{
    width: 95%;
    margin: auto;
    /* overflow: hidden; */
}

header .container .CONTENT_CONTAINER{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

  
}
header .container  .CONTENT_CONTAINER .text_header {
     width: 58%;
     position: relative;
     left: 11%;
     /* overflow: hidden; */
     align-self: center;
     /*animation-iteration-count: infinite;
     */
     animation-name: watchanme;
     animation-duration: .6s;
      /* padding-right: 5%;    */
 
}

@keyframes watchanme {
    0%{

        transform:translateX(-99%);
        -webkit-transform:translateX(-99%);
        -moz-transform:translateX(-99%);
        -ms-transform:translateX(-99%);
        -o-transform:translateX(-99%);
}
  
    100%{
        transform:translateX(8%);
        -webkit-transform:translateX(8%);
        -moz-transform:translateX(8%);
        -ms-transform:translateX(8%);
        -o-transform:translateX(8%);
}
  }
  

header .container .CONTENT_CONTAINER .text_header h1 {
font-size: 95px;
color: #0b1c39;
margin-bottom: 8%;
width: 100%;

}

header .container .CONTENT_CONTAINER .text_header p {
    color : var(--secondColor);
    margin-bottom: 8%;
    font-size: 18px;
}

header .container .CONTENT_CONTAINER .text_header .btn {
         padding: 14px 26px;
         text-decoration: none;
         border-style: none;
         background-color: #635c5c;
         color: white;
         font-size: 15px;
         font-weight: 500;
         letter-spacing: 1.1px;
         position:relative;
         z-index: 1;
       
}

header .container .CONTENT_CONTAINER .text_header .btn::before{
    content:'';
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--firstColor);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    -moz-transition: all .4s ease-in;
    -ms-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
}

header .container .CONTENT_CONTAINER .text_header .btn:hover::before{
   width: 100%;
}


header .container  .CONTENT_CONTAINER .header_img {
     overflow: hidden;
     width: 40%;
    padding-right: 2%;
    text-align: right;
    
}


header .container .CONTENT_CONTAINER .header_img img{
/* width: 100%; */
animation-name: imgscal;
animation-duration: 1.2s;
animation-iteration-count: infinite;
animation-direction: alternate;

}
@keyframes imgscal {
  0%{
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
} 
  100%{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
} 
}


/* =====================================end header */



/* ==============section1============== */

section .containerr{
    width: 100%;
    padding: 4% 5% 3% 5%  ;
    /* flex-wrap: wrap; */
    overflow: hidden;
    /* background-color: #635c5c; */

}

/* section .containerr .row{ */
    /* display: flex; */
    /* background-color: rgb(150, 133, 133); */
    /* justify-content: left; */
    /* width:100%; */
    /* gap:32px; */
    /* background-color: aqua; */
    /* margin: auto; */

/* } */

section .section1_text_h{
    font-size: 35px;
    padding-bottom: 8%;
    width: 85%;
    margin: auto;
    /* background-color: #ff003c; */
    padding-top: 10%;
    }

 /* as row */
 
 section .containerr .img-big-container{
     /* background-color: cadetblue; */
     width: 85%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin: auto;
     /* overflow: hidden; */
    }

section .containerr .img_container{
    /*padding-left: 26px;
    */
    width:31.5% ;
    padding-bottom: 10%;
    text-align: center;
    /* overflow: hidden; */

    /* background-color: burlywood; */
  
}

section .containerr .img_container .img_box{
    /* width: 100%; */
    /* height: 100%; */
    overflow: hidden;
 
}

section .containerr .img_container .img_box img{
    transition:all .3s ease-in;
    -moz-transition:all .3s ease-in;
    -ms-transition:all .3s ease-in;
    -o-transition:all .3s ease-in;
    -webkit-transition:all .3s ease-in;
    width: 100%;
    height: 100%;
    /* padding-bottom: 10%; big dooooooooooooooooooooooooooooooooooood all the proooooooopleeemsssss:LLLLLLLLLLL */
    text-align: center;
    transform:scale(1);
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
}

section .containerr .img_container:hover .img_box img {
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    /*padding-bottom: 5%;
    */
    /* text-align: center; */
    /* transition:all .2s .1s ease-in;
    -moz-transition:all .2s .1s ease-in;
    -ms-transition:all .2s .1s ease-in;
    -o-transition:all .2s .1s ease-in;
    -webkit-transition:all .2s .1s ease-in; */
}

/* section .containerr .img_container .textimg:hover img{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -ms-transform:scale(1.1);
    -o-transform:scale(1.1);
    transition:all .2s .1s ease-in;
    -moz-transition:all .2s .1s ease-in;
    -ms-transition:all .2s .1s ease-in;
    -o-transition:all .2s .1s ease-in;
    -webkit-transition:all .2s .1s ease-in;
} */

 section .containerr .img_container p{
        padding-bottom: 4%;
        color: var(--firstColor);
        font-weight: 600;
        text-align: center;
        font-size: 17px;
}

section .containerr .img_container h2{
    padding-bottom: 5%;
    padding-top: 9%;
    text-align: center;


}







/* =====================================end section1 */



/* start section 2  */


section .containergrid{
    /* background-color: tomato; */
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows: repeat(2, 344px);
    gap:18px;
    width: 100%;
    /* height: 100%; */
    margin: auto;

}

section .containergrid .img_grid{
    /* padding: 1%; */
    /* text-align: center; */
    object-fit: cover;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
}

section .containergrid .img_grid:nth-child(1){
    grid-column: 1/3;
    grid-row: 1/3;
}

section .containergrid .img_grid:nth-child(2){
    grid-row: 1/3;
}

section .containergrid .img_grid img{
      height: 100%;
      width: 100%;
     /* lazeeem 3shan m yehsalsh eroooooooooooooooooooorr hight & width  */
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transition:all .2s ease-in ;
      -webkit-transition:all .2s ease-in ;
      -moz-transition:all .2s ease-in ;
      -ms-transition:all .2s ease-in ;
      -o-transition:all .2s ease-in ;
}

section .containergrid .img_grid:hover img {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
}
  


























 /*endssection2*//*=======================================MEDIAQ==============================*/
 
 @media(max-width:991px){

 

/*
                       nav
==========================================
*/


nav .container .navtypes ul li:nth-child(4)::after{
    display: none; 
}

nav .container .logo {
    width: 22%;
}
nav .container .logo img {
    width: 100%;
}

nav .container .navtypes{
    background-color: rgba(245, 239, 239, 0.651);
    filter: drop-shadow(0px 2px 2px rgba(128, 128, 128, 0.226) );
    position: absolute;
    top: 66px;
    right:35px;
    width: 95%;
    padding: 8%;
    -webkit-filter: drop-shadow(0px 2px 2px rgba(128, 128, 128, 0.226) );
     /* visibility: hidden;
     opacity: 0%; */
}
nav .container .navtypes  ul li .dropdown{
    /*visibility:hidden;
    *//*display: unset;
    */
    position: unset;
    background-color: unset;
    /* display: block; */
    width: 88px;
    padding: 11px 9px;
    border-radius: 0px ;
    border-top: none;
    opacity:0;
    visibility: hidden;
}

nav .container .navtypes .dropdown::before{
   position: unset;
    border-top: none;
    border-top: none;
    border-left: none;
    border-right: none;
    /* border: none; */
}  
nav .container .navtypes  ul li:hover .dropdown{
    /* display: block; */
    /* border: none; */
    position: unset;
    opacity:1;
    visibility: visible;
    

}
nav .container .navtypes .dropdown .itemdrop{
    display:none;
    visibility: hidden;
    opacity: 0;

}

nav .container .navtypes ul {
    display: unset;
}
nav .container .navtypes ul li{
    line-height: 33px;
}

nav .container .icons {
text-align: center;
width: 50%;
}

nav .container .icons a{
padding: 0px 4%;
font-size: 14px;

}

 nav .container label {
    display: flex;
    order: 2;
    padding-right: 5%;
}

nav .container input #menu:checked~nav .container .navtypes{
    visibility: visible;
    opacity: 100%;
}

/* ===================end nav in 1191 */
 }

@media (max-width:575px) {
    





}








